@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$main-color:#F6F7FB;
$primary-color: #092353;
$secondary-color: #5972A3;
$background-color: #F5F7FB;
$border-color: #DBDFE8;
$button-bg: #B9C5DC;
$button-text-color: #092353;
$button1-bg: #D6D6D6;
$button1-text-color: #444;
$active-btn-bg: #5EC869;
$active-btn-text-color: #114F14;
$text-color: #444;
$font-family: 'Roboto';

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

@mixin font($size, $weight) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  line-height: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  // background-color:$main-color
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  width: 100%;
  overflow: hidden;
  background-color: $main-color;
  @include transition(all, 0.35s);
}

#sidebar {
  min-width: 50px;
  z-index: 1000;
  background-color: #062F75;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  @include transition(width, 0.25s);

  &.expand {
    width: 260px;
  }

  .sidebar-logo {
    margin: auto 0;
    a {
      color: #FFF;
      font-size: 1.15rem;
      font-weight: 600;
    }
  }

  .sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
  }

  &.expand .sidebar-logo,
  &.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
  }

  &:not(.expand) {
    .sidebar-logo,
    a.sidebar-link span {
      display: none;
    }
  }
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 1rem 1.5rem;

  i {
    font-size: 1.5rem;
    color: #FFF;
  }
}

.navbar {
  background-color: $button-bg;
  width: 1435px;
  height: 50px;

  &-expand .navbar-collapse {
    min-width: 200px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
}


.imgkalyanlogo {
  width: 19.654px;
  height: 29.197px;


}

.imgjuelog {
  width: 34px;
  height: 22px;
}
.bg-layer{
   
        background-color: #F5F7FB !important;
    }



.card {
  width: 288px;
  height: 80px;
}

.no-gap {
  margin: 0 !important;
  padding: 0 !important;
}

.no-gap-row {
  margin-left: 0 !important;
  margin-right: 320px !important;
}


.box,
.box4,
.box5,
.box6,
.box7 {
  background-color: #FFF;
  border: 1px solid $border-color;
  margin: 8px;
}

.box4 { width: 156.756px; height: 58.907px; }
.box5 { width: 156.756px; height: 58.907px; }
.box6 { width: 171.528px; height: 58.907px; }
.box7 { width: 248.737px; height: 58.911px; }


.boxhead{
  color: var(--Secondary-label, #5972A3);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 7px;   
  margin-top: 5px;
}

.boxheaddata{
  width: 76px;
  height: 15px;
  flex-shrink: 0;
  width: 490px;
  height: 15px;
  flex-shrink: 0;
  color: #092353;
  padding: 2px;
  
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.custom-button,
.custom-button1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  @include font(12px, 500);
}

.custom-button {
  width: 140px;
  height: 25px;
  padding: 6px 13px;
  border: 1px solid $button-bg;
  background: $button-bg;
  color: $button-text-color;
  opacity: 0.7;
}

.custom-button1 {
  color: $button1-text-color;
  background: $button1-bg;
  padding: 5px 11px;
  font-weight: 500;
}

.activebutton {
  display: inline-flex;
  padding: 5px 11px;
  border-radius: 4px;
  background: $active-btn-bg;
  color: $active-btn-text-color;
  @include font(12px, 500);
}


.tcr,
.tcr1 {
  @include font(12px, 500);
}

.tcr {
  width: 128px;
  height: 20px;
  color: $primary-color;
  font-size: 17px;
}

.tcr1 {
  color: $primary-color;
  font-size: 13px;
  border-radius: 0 4px 4px 0;
  border: 1px solid $border-color;
  background: #FFF;
}

.balanceaccount,
.balanceweight,
.duedate,
.customerdetails {
  @include font(12px, 500);
  color: $secondary-color;
  text-align: right;
  padding: 17px
}

.balanceaccount-number,
.balanceweightnumber,
.duedatedate,
.customername {
  @include font(16px, 500);
  color: $primary-color;

  
}

.balanceaccount,
.balanceweight,
.duedate,
.customerdetails {
  width: auto;
 
  
}

.balanceaccount-number {
  width: 76px;
  height: 14px;
 
}

.balanceweight {
  width: 9I6px;
  height: 14px;
}

.balanceweightnumber {
  width:95px;
  height: 19px;
}

.duedate {
 width: 86px;
height: 14px;
flex-shrink: 0;
}

.duedatedate {
  width: 86px;
  height: 19px;
}

.hidelink {
  @include font(13px, 400);
  color: $secondary-color;
  text-decoration-line: underline;
}

.small-vline {
  width: 1px;
  height: 48px;
  opacity: 0.75;
  background: $border-color;
}

.kalyanheading {
  color: $primary-color;
  @include font(18px, 700);
}

.tranfer,
.salesorderadvance {
  @include font(12px, 500);
}

.tranfer { color: $secondary-color; }
.salesorderadvance { color: $primary-color; font-size: 13px; }

.table {
  width: 1400px;
  height: 157.068px;
  opacity: 0.9;
}

.td {
  color: $primary-color;
  border-radius: 4px;
//   background: #FFF;
//   width: 1263.576px;
// height: 36.523px;
// flex-shrink: 0;
  @include font(13px, 500);
}

thead,
.thead-color {
  color: $secondary-color;
  @include font(12px, 500);
}


.ekm {
  @include font(17px, 500);
  color: $primary-color;
  width: 128px;
  height: 20px;
}

.footer1 {
  width: 1366px;
  height: 768px;
  background: #F6F7FB;
}

.muziris {
  @include font(10px, 400);
  color: $primary-color;
}

.layer1,
.layer2 {
  flex-shrink: 0;
  background-color: $background-color;
  border-radius: 5px;
}

.layer1 {   width: 1400px;; height: 88.907px; }
.layer2 { width: 1380.5px; height: 88.907px; }

.threelayerdiv {
  background-color: rgba(217, 226, 233, 0.5);
  width: 1408px;
  height: 336px;
}


.cbox {
  display: flex;
  width: 317px;
  height: 58px;
  padding: 2px 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.cdetails,
.cdata {
  @include font(12px, 500);
}

.cdetails { color: $secondary-color; }
.cdata { color: $primary-color; @include font(16px, 500); }

.img-not {
  width: 13px;
  height: 14px;
  color: #0749BE;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
}

.img-box {
  width: 20px;
  height: 19px;
  border-radius: 2px;
  background: #D9DFE9;
}

.sidebar-footer {
  margin-top: auto;
}

.soa-button{
  display: inline-flex;
  padding: 6px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #194FD5;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

    width: 132px;
    height: 33px;
    



}


img.imglogo,
img.imgjuelogo {
  width: 34px;
  height: 22px;
  display: block;
  margin: 0 auto; 
  margin-top: -25px; 
}

.navbar-location {
  @include font(15px, 500);
  color: $primary-color;
}

.navbar-bell {
  width: 16px;
  height: 16px;
}

.transfer {
  @include font(12px, 500);
  color: $secondary-color;
}

.card-box,
.x-icon {
  background: #FFF;
  border: 1px solid $border-color;
}

.card-body{
  width: 70%;
  align-items: center;

}

.x-icon {
  width: 37.956px;
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.card-box {
  width: 185px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}



.tcrsplit {
  @include font(13px, 500);
  color: $primary-color;
}

.details {
  width: 1400px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 488px) {
  $main-color: #F6F7FB;
  $primary-color: #092353;
  $secondary-color: #5972A3;
  $background-color: #F5F7FB;
  $border-color: #DBDFE8;
  $button-bg: #B9C5DC;
  $button-text-color: #092353;
  $button1-bg: #D6D6D6;
  $button1-text-color: #444;
  $active-btn-bg: #5EC869;
  $active-btn-text-color: #114F14;
  $text-color: #444;
  $font-family: 'Roboto';
  

  @mixin transition($property, $duration) {
    transition: $property $duration ease-in-out;
  }
  
  @mixin font($size, $weight) {
    font-family: $font-family;
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    line-height: normal;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .wrapper {
    display: flex;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    width: 100%;
    overflow: hidden;
    background-color: $main-color;
    @include transition(all, 0.35s);
  }
  
  #sidebar {
    min-width: 50px;
    z-index: 1000;
    background-color: #062F75;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 104rem; 
    @include transition(width, 0.25s);
  
    &.expand {
      width: 260px;
    }
  
    .sidebar-logo {
      margin: auto 0;
      a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
      }
    }
  
    .sidebar-nav {
      padding: 2rem 0;
      flex: 1 1 auto;
    }
  
    &.expand .sidebar-logo,
    &.expand a.sidebar-link span {
      animation: fadeIn 0.25s ease;
    }
  
    &:not(.expand) {
      .sidebar-logo,
      a.sidebar-link span {
        display: none;
      }
    }
  }
  
  .toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
  
    i {
      font-size: 1.5rem;
      color: #FFF;
    }
  }
  
  .navbar {
    background-color: $button-bg;
    width: 100%
    height: 50px;
    @include transition(all, 0.35s);
  }
  
  .avatar {
    width: 40px;
    height: 40px;
  }
  
  .imgkalyanlogo {
    width: 19.654px;
    height: 29.197px;
  }
  
  .imgjuelog {
    width: 34px;
    height: 22px;
  }
  
  .bg-layer {
    background-color: #F5F7FB !important;
  }
  
  .card {
    width: 100%; 
    max-width: 288px;
    height: 80px;
  }
  
  .box,
  .box4,
  .box5,
  .box6,
  .box7 {
    background-color: #FFF;
    border: 1px solid $border-color;
    margin: 8px;
  }
  
  .box4 { width: 100%; max-width: 156.756px; }
  .box5 { width: 100%; max-width: 156.756px; }
  .box6 { width: 100%; max-width: 171.528px; }
  .box7 { width: 100%; max-width: 248.737px; }
  
  .boxhead {
    color: var(--Secondary-label, #5972A3);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px;
    margin-top: 5px;
  }
  
  .boxheaddata {
    width: 100%; 
    max-width: 490px;
    color: #092353;
    padding: 2px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .custom-button,
  .custom-button1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    @include font(12px, 500);
  }
  
  .custom-button {
    width: 140px;
    height: 25px;
    padding: 6px 13px;
    border: 1px solid $button-bg;
    background: $button-bg;
    color: $button-text-color;
    opacity: 0.7;
  }
  
  .custom-button1 {
    color: $button1-text-color;
    background: $button1-bg;
    padding: 5px 11px;
    font-weight: 500;
  }
  
  .activebutton {
    display: inline-flex;
    padding: 5px 11px;
    border-radius: 4px;
    background: $active-btn-bg;
    color: $active-btn-text-color;
    @include font(12px, 500);
  }
  
  .tcr,
  .tcr1 {
    @include font(12px, 500);
  }
  
  .tcr {
    width: 128px;
    height: 20px;
    color: $primary-color;
    font-size: 17px;
  }
  
  .tcr1 {
    color: $primary-color;
    font-size: 13px;
    border-radius: 0 4px 4px 0;
    border: 1px solid $border-color;
    background: #FFF;
  }
  
  .balanceaccount,
  .balanceweight,
  .duedate,
  .customerdetails {
    @include font(10px, 500);
    color: $secondary-color;
    text-align: right;
    padding: 10px;
  }
  
  .balanceaccount-number,
  .balanceweightnumber,
  .duedatedate,
  .customername {
    @include font(16px, 500);
    color: $primary-color;
  }
  
  .balanceaccount,
  .balanceweight,
  .duedate,
  .customerdetails {
    width: auto;
  }
  
  .balanceaccount-number {
    width: auto;
  }
  
  .balanceweight {
    width: auto;
  }
  
  .balanceweightnumber {
    width: auto;
  }
  
  .duedate {
    width: auto;
  }
  
  .duedatedate {
    width: auto;
  }
  
  .hidelink {
    @include font(13px, 400);
    color: $secondary-color;
    text-decoration-line: underline;
  }
  
  .small-vline {
    width: 0px;
    // height: 48px;
    // opacity: 0.75;
    // background: $border-color;
  }
  
  .kalyanheading {
    color: $primary-color;
    @include font(18px, 700);
  }
  
  .tranfer,
  .salesorderadvance {
    @include font(12px, 500);
  }
  
  .tranfer { color: $secondary-color; }
  .salesorderadvance { color: $primary-color; font-size: 13px; }
  
  .table {
    width: 100%; 
    overflow-x: auto; 
    max-width: 1400px; 
  }
  
  .td {
    color: $primary-color;
    border-radius: 4px;
    @include font(13px, 500);
  }
  
  thead,
  .thead-color {
    color: $secondary-color;
    @include font(12px, 500);
  }
  
  .ekm {
    @include font(17px, 500);
    color: $primary-color;
    width: 128px;
    height: 20px;
  }
  
  .footer1 {
    width: 100%; 
    height: auto; 
    background: #F6F7FB;
  }
  
  .muziris {
    @include font(10px, 400);
    color: $primary-color;
  }
  
  .layer1,
  .layer2 {
    flex-shrink: 0;
    background-color: $background-color;
    border-radius: 5px;
    width: 97%; 
  }
  
  .layer1 { 
    height: auto; 
    max-width: 1400px; 
  }
  
  .layer2 { 
    height: auto; 
    max-width: 1390.5px; 
  }
  
  .threelayerdiv {
    background-color: rgba(217, 226, 233, 0.5);
    width: 100%; 
    max-width: 1408px; 
    height: auto; 
  }
  
  .cbox {
    display: flex;
    width: 100%; 
    max-width: 317px;
    height: 58px;
    padding: 2px 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
  }
  
  .cdetails,
  .cdata {
    @include font(12px, 500);
  }
  
  .cdetails { color: $secondary-color; }
  .cdata { color: $primary-color; @include font(16px, 500); }
  
  .img-not {
    width: 13px;
    height: 14px;
    color: #0749BE;
    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
  }
  
  .img-box {
    width: 20px;
    height: 19px;
    border-radius: 2px;
    background: #D9DFE9;
  }
  
  .sidebar-footer {
    margin-top: auto;
  }
  
  img.imglogo,
  img.imgjuelogo {
    width: 34px;
    height: 22px;
    display: block;
    margin: 0 auto; 
    margin-top: -25px; 
  }
  
  .navbar-location {
    @include font(15px, 500);
    color: $primary-color;
  }
  
  .navbar-bell {
    width: 16px;
    height: 16px;
  }
  
  .transfer {
    @include font(12px, 500);
    color: $secondary-color;
  }
  
  .card-box,
  .x-icon {
    background: #FFF;
    border: 1px solid $border-color;
  }
  
  .card-body {
    width: 70%;
    align-items: center;
  }
  
  .x-icon {
    width: 37.956px;
    height: 52px;
    border-radius: 0 4px 4px 0;
  }
  
  .card-box {
    width: 185px;
    height: 52px;
    border-radius: 4px 0 0 4px;
  }
  
  .tcrsplit {
    @include font(13px, 500);
    color: $primary-color;
  }
  
  .details {
    width: 100%; 
    max-width: 1400px; 
  }
}
